@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@500&family=Roboto:ital,wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}


/* Header Section (Hero Nav Bar 1) */

.hero_nav1 {
  width: 100vw;
  height: 7rem;
  /* background: linear-gradient(to right, #020F3C, #0930BC, #061754); */
  background: linear-gradient(to right, #6c3483 10%, #a569bd, #6c3483 10%);
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  overflow-y: hidden;

}

.logo img {
  height: 110px;
  width: 140px;

}

.Trademark {
  color: white;
  text-transform: uppercase;

}

.Trademark h2 {
  text-align: center;
  font-size: 24px;
  font-family: "adamina"
}

.searchBar input {
  width: 610px;
  height: 40px;
  border-radius: 5rem;
  border: none;
}



.Addcard {
  color: white;
  font-size: 28px;

}



/* Header Section (Hero Nav Bar 2) */

#navBar {
  background: #e8daef;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: black;

}

#sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;

}

#sidebar a {
  width: 100%;
  font-weight: 520;
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* #sidebar a:hover {
  color: #4a235a;
} */


.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: 450;
  height: 40px;
}


.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links a:hover {
  color: green;

}




/* Header Section (Hero Image ) */

.hero_image {
  width: 100vw;
  height: 580px;
  /* margin-top: 10px; */
  background: url('assets/HeroImage1a.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: hero-image 10s infinite;


}

/* Define the keyframes */
@keyframes hero-image {
  0% {
    background: url('assets/HeroImage1a.png');
  }

  25% {
    background: url('assets/HeroImage2.png');
  }

  75% {
    background: url('assets/HeroImage4.png');
  }

  100% {
    background: url('assets/HeroImage1a.png');
  }

}



















/* Media Query for Header Section */




@media only screen and (max-width: 600px) {
  /*  media query for 600 view port */


  /* For NavBar1 */



  .logo img {
    display: none;

  }

  .Trademark h2 {
    font-size: 14px;

  }

  .searchBar input {
    width: 150px;
    height: 30px;
  }


  .Addcard {
    font-size: 20px;

  }















  /* For navBar2 */



  .nav-links {
    font-size: 12px;
    font-weight: 550;
    /* height: 40px; */
  }



  #navBar {
    display: flex;

  }

  .menu-icon {
    display: inline;
  }


  .hideOnMobile {
    display: none;
  }




  /* For Hero Image */



}











/* Media query for viwport of 600 to 1120 */


@media only screen and (min-width: 600px) and (max-width: 1120px) {


  /* For navBar1 */


  .logo img {
    height: 110px;
    width: 140px;

  }

  .Trademark h2 {
    font-size: 16px;

  }


  .searchBar input {
    width: 210px;
    height: 30px;

  }

  .Addcard {
    font-size: 24px;

  }



  /* For NavBar 2 */

  .nav-links {
    font-size: 16px;
  }




  /* For Hero Image */




}