@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@500&family=Roboto:ital,wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}


/* Header Section (Hero Nav Bar 1) */

.hero_nav1 {
  width: 100vw;
  height: 7rem;
  /* background: linear-gradient(to right, #020F3C, #0930BC, #061754); */
  background: linear-gradient(to right, #6c3483 10%, #a569bd, #6c3483 10%);
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  overflow-y: hidden;

}

.logo img {
  height: 110px;
  width: 140px;

}

.Trademark {
  color: white;
  text-transform: uppercase;
  font-family: "poppins", "sans-serif", inter;

}

.Trademark h2 {
  text-align: center;
  font-size: 24px;
  font-family: "adamina"
}

.searchBar input {
  width: 610px;
  height: 40px;
  padding-left: 18px;
  font-size: 14px;
  border-radius: 5rem;
  border: none;
}

.searchBar input::placeholder {
  padding-left: 10px;
  font-size: 16px;

}



.Addcard {
  color: white;
  font-size: 28px;

}



/* Header Section (Hero Nav Bar 2) */

#navBar {
  background: #e8daef;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: black;

}

#sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;

}

#sidebar a {
  width: 100%;
  font-weight: 520;
  font-size: 16px;
  padding-bottom: 30px;
  padding-left: 10px;
}

/* #sidebar a:hover {
  color: #4a235a;
} */


.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: 450;
  height: 40px;
}


.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links a:hover {
  color: rgb(186, 16, 16);

}




/* Header Section (Hero Image ) */

.hero_image {
  width: 100vw;
  height: 580px;
  background: url('assets/HeroImage1a.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: hero-image 10s infinite;
  margin-bottom: 80px;


}


@keyframes hero-image {
  0% {
    background: url('assets/HeroImage1a.png');
  }

  25% {
    background: url('assets/HeroImage2.png');
  }

  75% {
    background: url('assets/HeroImage4.png');
  }

  100% {
    background: url('assets/HeroImage1a.png');
  }

}



















/* Media Query for Header Section */


/* Media query for viwport of 600 to 1120 */


@media only screen and (min-width: 600px) and (max-width: 1120px) {


  /* For navBar1 */


  .logo img {
    height: 110px;
    width: 140px;

  }

  .Trademark h2 {
    font-size: 16px;

  }


  .searchBar input {
    width: 210px;
    height: 30px;
    padding-left: 12px;
    font-size: 12px;

  }

  .searchBar input::placeholder {
    padding-left: 8px;
    font-size: 13px;

  }


  .Addcard {
    font-size: 24px;

  }



  /* For NavBar 2 */

  .nav-links {
    font-size: 16px;
  }







  /* For Hero Image */




}











@media only screen and (max-width: 600px) {
  /*  media query for 600 view port */


  /* For NavBar1 */



  .logo img {
    display: none;

  }

  .Trademark h2 {
    font-size: 14px;

  }



  .searchBar input {
    width: 150px;
    height: 30px;
    padding-left: 10px;
    font-size: 10px;
  }

  .searchBar input::placeholder {
    padding-left: 5px;
    font-size: 10px;

  }


  .Addcard {
    font-size: 20px;

  }









  /* For navBar2 */



  .nav-links {
    font-size: 12px;
    font-weight: 550;
    /* height: 40px; */
  }

  .nav-links a:hover {
    color: rgb(186, 16, 16);
    background-color: rgba(255, 255, 255, 0.605);

  }



  #navBar {
    display: flex;

  }

  .menu-icon {
    display: inline;
  }


  .hideOnMobile {
    display: none;
  }




  /* For Hero Image */

  .hero_image {
    width: 100vw;
    height: 490px;
    background: url('assets/bgMobile2.jpg');

  }

  /* Define the keyframes */
  @keyframes hero-image {
    0% {
      background: url('assets/bgMobile2.jpg');
    }

    25% {
      background: url('assets/bgMobile3.jpg');
    }

    75% {
      background: url('assets/bgMobile1.jpg');
    }

    100% {
      background: url('assets/bgMobile2.jpg');
    }

  }




}






/* For Background image In Tablet */

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .hero_image {
    width: 100vw;
    height: 490px;
    background: url('assets/bgMobile2.jpg');

  }

  /* Define the keyframes */
  @keyframes hero-image {
    0% {
      background: url('assets/bgTablet1.jpg');
    }

    25% {
      background: url('assets/bgTablet2.jpg');
    }

    75% {
      background: url('assets/bgTablet3.jpg');
    }

    100% {
      background: url('assets/bgTablet1.jpg');
    }

  }


}





/* Main Section */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(to right, #A71B08, #F9270B, #A23122, #911808);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "poppins", "sans-serif", inter;
}

.about p {
  width: 80vw;
  height: 20vh;
  font-size: 16px;
  overflow-y: hidden;

}

.about p::selection {
  background-color: #f17929;
}




















/* MEDIA QUERY FOR MAIN section */


@media only screen and (max-width: 600px) {



  .about h1 {
    font-size: 20px;
    padding-bottom: 8px;
    font-size: x-large;
    font-family: "poppins", "sans-serif", inter;

  }

  .about p {
    height: 50vh;
  }


}